HTTP_PORT=80

EXTERNAL_IP=[external ip]

MYSQL_ROOT_PASSWORD=[secret]
MYSQL_PASSWORD=[secret]
SIP_TRUNK_USERNAME=[12345678]
SIP_TRUNK_SECRET=[secret]
SIP_TRUNK_HOST=[host]
SIP_TRUNK_CALLER_ID=[12345678]
GATE_1_PHONE=[99999999]
GATE_2_PHONE=[88888888]

SMTP_HOST=postfix
SMTP_PORT=25
SMTP_USER=
SMTP_PASSWORD=

ASTERISK_AMI_USER=pbxadmin
ASTERISK_AMI_PASS=[secret]

DEBUG=0
