MYSQL_ROOT_PASSWORD=[password]
MYSQL_PASSWORD=[another password]
SIP_TRUNK_USERNAME=[username]
SIP_TRUNK_SECRET=[secret]
SIP_TRUNK_HOST=[host]
SIP_TRUNK_CALLER_ID=[12345678]
GATE_1_PHONE=[11111111]
GATE_2_PHONE=[22222222]

SMTP_HOST=[sms smtp server]
