HTTP_PORT=80

EXTERNAL_IP=[external ip]

DB_ROOT_PASSWORD=[secret]
DB_PASSWORD=[secret]
DB_PORT_HOST=3306
SIP_TRUNK_USERNAME=[12345678]
SIP_TRUNK_SECRET=[secret]
SIP_TRUNK_HOST=[host]
SIP_TRUNK_CALLER_ID=[12345678]
GATE_1_PHONE=[99999999]
GATE_2_PHONE=[88888888]

SMTP_HOST=postfix
SMTP_PORT=25
SMTP_USER=
SMTP_PASSWORD=
SMS_GATEWAY=10.8.0.66

NOTIFICATION_ALLOW_MESSAGE='You now have access to open the gates. Use https://pullert.loppen.dk/ or by telephone 32224307'
NOTIFICATION_DISALLOW_SOON_MESSAGE='Your access to the gate will expire DATE_TIME'
NOTIFICATION_DISALLOW_MESSAGE='Your access to the gate has expired'

ASTERISK_AMI_PASS=[secret]

DEBUG=0
